.academy-contacts {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
}

.academy-contacts__map-wrapper {
  position: relative;

  margin: 0;
  padding: 0;

  svg {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
  }
}

.academy-contacts__map {
  margin: 0 auto;
  width: 100vw;
  height: 220px;

  background: #f3f1ea url("../img/bg-map-mobile@1x.png") no-repeat center bottom;

  @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

@media (min-width: $tablet-width) {
  .academy-contacts__map {
    height: 428px;

    background: #f3f1ea url("../img/bg-map-tablet@1x.jpg") no-repeat center -375px;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: 700px auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .academy-contacts__map {
    height: 522px;

    background: #f3f1ea url("../img/bg-map-desktop@1x.jpg") no-repeat center -255px;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}
