.app-features {
  position: relative;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
}

.app-features__advert {
  margin: 0;
  padding: 0;
  padding-bottom: 38px;

  background-color: $white-color;
}

.app-features__features-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 75px;

  background: $gray-color url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% auto;
}

.app-features__question {
  margin: 0;
  padding: 0;
  padding-top: 40px;

  color: $navy-color;

  font-size: 24px;
  font-weight: lighter;
  line-height: 29px;

  text-align: center;
}

.app-features__offer {
  margin: 0;
  padding: 0;
  padding-top: 28px;

  color: $navy-color;

  font-size: 24px;
  font-weight: lighter;
  line-height: 29px;

  text-align: center;
}

.app-features__features-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 287px;
  list-style: none;

  &::before {
    content: "";
    position: absolute;

    bottom: 0;
    width: 280px;
    height: 320px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 43px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
  }
}

.app-features__features-item {
  margin: 0;
  padding: 0;
  padding-bottom: 31px;

  box-sizing: border-box;
}

.app-features__feature {
  margin: 0;
  padding: 0;

  color: #000000;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;
}

.app-features__feature-description {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;

  color: $navy-color;

  font-size: 14px;
  line-height: 24px;

  text-align: center;
}

.app-features__phone-image {
  position: absolute;
  left: 160px - 78;
  bottom: 0%;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .app-features__advert {
    padding-bottom: 48px;
  }

  .app-features__features-wrapper {
    padding-top: 75px;
  }

  .app-features__question {
    padding-top: 50px;

    font-size: 40px;
    line-height: 47px;
  }

  .app-features__offer {
    padding-top: 0;

    font-size: 40px;
    line-height: 47px;
  }

  .app-features__features-list {
    padding-bottom: 8px;
    padding-left: 300px;

    &::before {
      content: "";
      width: 268px;
      height: 481px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat bottom;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .app-features__features-item {
    padding-bottom: 35px;
  }

  .app-features__feature {
    padding-left: 10px;

    text-align: left;
  }

  .app-features__feature-description {
    padding-top: 11px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .app-features__advert {
    padding-bottom: 80px;
  }

  .app-features__features-wrapper {
    padding-top: 312px;
  }

  .app-features__question {
    margin: 0;
    padding: 0;
    padding-top: 75px;

    font-size: 50px;
    line-height: auto;
  }

  .app-features__offer {
    margin: 0;
    padding: 0;
    padding-top: 5px;

    font-size: 50px;
    line-height: 60px;
  }

  .app-features__features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 0;

    &::before {
      content: "";
      display: none;
    }
  }

  .app-features__features-item {
    padding-bottom: 0;
    flex-basis: 300px;

    &:nth-child(1)::before {
      content: "";
      position: absolute;
      top: -317px;
      width: 300px;
      height: 302px;
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center bottom;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(2)::before {
      content: "";
      position: absolute;
      top: -317px;
      width: 300px;
      height: 302px;
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center bottom;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &:nth-child(3)::before {
      content: "";
      position: absolute;
      top: -317px;
      width: 300px;
      height: 302px;
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center bottom;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }

  .app-features__feature {
    padding-top: 41px;
    padding-left: 32px;
    padding-right: 32px;

    font-size: 30px;
    line-height: 30px;

    text-align: center;
  }

  .app-features__feature-description {
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;

    font-size: 18px;
    line-height: 30px;

    text-align: center;
  }
}
