.arrow-button {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  fill: rgba($navy-color, 0.3);

  &:hover,
  &:focus {
    fill: rgba($navy-color, 0.6);
  }

  &:active {
    fill: rgba($navy-color, 0.1);
  }
}
