.arrow-button {
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  svg {
    fill: rgba($navy-color, 0.3);
  }

  &:hover svg,
  &:focus svg {
    fill: rgba($navy-color, 0.6);
  }

  &:active svg {
    fill: rgba($navy-color, 0.1);
  }
}
