.button {
  display: block;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 18px;

  width: 100%;

  border: 3px solid;
  border-radius: 55px;

  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;

  &--download {
    background-color: transparent;
    border-color: $white-color;
    color: $white-color;
  }

  &--download:hover,
  &--download:focus {
    background-color: $white-color;
    border-color: $white-color;
    color: $pink-color;
  }

  &--download:active {
    background-color: $white-color;
    border-color: $white-color;
    color: rgba($pink-color, 0.3);
  }

  &--post {
    background-color: transparent;
    border-color: $pink-color;
    color: $pink-color;
  }

  &--post:hover,
  &--post:focus {
    background-color: $pink-color;
    border-color: $pink-color;
    color: $white-color;
  }

  &--post:active {
    background-color: $pink-color;
    border-color: $pink-color;
    color: rgba($white-color, 0.3);
  }

  &--cancel {
    background-color: transparent;
    border-color: rgba($navy-color, 0.1);
    color: rgba($navy-color, 0.1);
  }

  &--cancel:hover,
  &--cancel:focus {
    background-color: rgba($white-color, 0.3);
    border-color: rgba($navy-color, 0.2);
    color: rgba($navy-color, 0.3);
  }

  &--cancel:active {
    background-color: rgba($navy-color, 0.3);
    border-color: transparent;
    color: rgba($white-color, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .button {
    font-size: 21px;
  }
}
