.download {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 28px;

  width: 100%;

  background-color: transparent;
}

.download__app-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 36px 17px 0;
  list-style: none;
}

.download__app-item {
  margin: 0;
  padding: 0;
}

.download__app-link {
  display: flex;
  width: 50px;
  height: 60px;
  align-items: center;

  &--appstore svg {
    margin-bottom: 10px;
    margin-left: 4px;
  }
}

.download__available {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  color: $white-color;

  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download__app-list {
    padding: 46px 30px 0;
  }

  .download__available {
    font-size: 18px;
    padding-top: 35px;
  }

  .download__app-link--appstore svg {
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .download__app-list {
    padding-top: 66px;
  }

  .download__available {
    font-size: 18px;
    padding-top: 50px;
  }
}
