.logo {
  svg {
    fill: $white-color;
  }

  &:hover path,
  &:focus path {
    fill: $pink-color;
  }

  &:active path {
    fill: rgba($white-color, 0.3);
  }
}

.logo__icon--tablet,
.logo__icon--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo__icon--mobile {
    display: none;
  }

  .logo__icon--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .logo__icon--tablet {
    display: none;
  }

  .logo__icon--desktop {
    display: block;
  }
}
