.main-nav {
  display: flex;
  flex-direction: column;

  flex-basis: 100%;

  margin: 0;
  padding: 0;
  background-color: rgba(#000000, 0.3);
}

.main-nav__logo-button-block {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  min-height: 67px;
  padding-bottom: 21px;

  a {
    margin-bottom: -5px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__logo-button-block {
    min-height: 110px;
    padding-bottom: 42px;

    a {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $desktop-width - 1) {
  .main-nav {
    position: absolute;
    top: 0;
    z-index: 10;

    width: 100%;
  }

  .main-nav__wrapper {
    display: none;
  }

  .burger-button__icon--burger {
    display: block;
  }

  .burger-button__icon--cross {
    display: none;
  }

  .main-nav--opened {
    position: relative;
    top: 0;

    margin-bottom: -67px;

    @media (min-width: $tablet-width) {
      margin-bottom: -110px;
    }

    z-index: 10;

    width: 100%;

    background-color: $navy-color;

    .main-nav__wrapper {
      display: block;
    }

    .burger-button__icon--burger {
      display: none;
    }

    .burger-button__icon--cross {
      display: block;
    }
  }

  .no-js .main-nav {
    margin-bottom: -67px;

    @media (min-width: $tablet-width) {
      margin-bottom: -110px;
    }

    position: relative;
    background-color: $navy-color;

    .main-nav__wrapper {
      display: block;
    }

    .main-nav__burger-button {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 960px;
    box-sizing: border-box;

    background-color: transparent;
  }
}
