.opening {
  position: relative;

  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 100%;
  height: 237px;

  background: $dark-navy-color url("../img/bg-back-mobile@1x.jpg") no-repeat center top;

  @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.opening--index {
  width: 100%;
  height: 733px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 45% 176px, $dark-navy-color url("../img/bg-back-mobile@1x.jpg") no-repeat center top;

  @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, 320px auto;
  }
}

.opening__slogan {
  margin: 0;
  padding: 0;
  padding-top: 100px;
  color: $white-color;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
}

.opening__header {
  margin: 0;
  padding: 0;
  padding-top: 107px;
  color: $white-color;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-align: center;
}

.opening__download {
  padding-top: 315px;
}

@media (min-width: $tablet-width) {
  .opening {
    height: 440px;

    background: $dark-navy-color url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .opening--index {
    width: 100%;
    height: 730px;

    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 30% bottom, $dark-navy-color url("../img/bg-back-tablet@1x.jpg") no-repeat center top;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }

  .opening__slogan {
    padding-top: 220px;

    font-size: 40px;
    line-height: 48px;
  }

  .opening__header {
    padding-top: 200px;

    font-size: 50px;
    line-height: 60px;
  }

  .opening__container {
    margin: 0;
    padding: 0;
    max-width: 300px;
  }

  .opening__download {
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .opening {
    height: 394px;

    background: $dark-navy-color url("../img/bg-back-desktop@1x.jpg") no-repeat center top;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .opening--index {
    width: 100%;
    height: 853px;

    background: url("../img/iphone-hand-desktop@1x.png") no-repeat 30% 208px, $dark-navy-color url("../img/bg-back-desktop@1x.jpg") no-repeat center;

    @media (min-resolution: 144dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1050px auto, 2560px auto;
    }
  }

  .opening__slogan {
    padding-top: 240px;

    font-size: 50px;
    line-height: 61px;
  }

  .opening__header {
    padding-top: 162px;
    padding-right: 290px;
    padding-left: 290px;

    font-size: 50px;
    line-height: 60px;

    &--form {
      padding-right: 95px;
      padding-left: 95px;
    }
  }

  .opening__download {
    padding-top: 63px;
  }
}
