.page-footer--index {
  display: none;
}

.page-footer__footer-wrapper {
  min-height: 284px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-footer__logo-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 41px;
}

.page-footer__soc-list {
  margin-top: -6px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: block;

    margin: 0;
    padding: 0;

    width: 100%;
  }

  .page-footer__footer-wrapper {
    justify-content: space-between;
    align-items: center;

    min-height: 127px;
  }

  .page-footer__logo-wrapper {
    align-self: flex-start;
    flex-basis: 150px;

    margin-top: 35px;
  }

  .page-footer__soc-list {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__footer-wrapper {
    min-height: 197px;
  }

  .page-footer__logo-wrapper {
    margin-top: 70px;
  }

  .page-footer__soc-list {
    margin-left: 2px;
  }
}
