.post-photo {
  position: relative;
  margin: 0;
  padding: 0;

  &::after {
    position: absolute;
    content: "";
    bottom: 200px;
    width: 100%;
    height: 1px;
    background-color: rgba($navy-color, 0.1);
  }
}

.post-photo__text-block {
  margin: 0;
  padding: 0;

  background-color: $white-color;
}

.post-photo__text {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 42px;

  color: $navy-color;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.post-photo__editing-block {
  margin: 0;
  padding: 0;

  width: 100%;

  background-color: $gray-color;
}

.post-photo__editing-block-wrapper {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 42px;

  display: flex;
  flex-wrap: wrap;
}

.post-photo__photo-block {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.post-photo__full-photo-link {
  display: block;

  margin: 0;
  padding: 0;

  width: 280px;
  height: 374px;
}

.post-photo__edited-photo {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.post-photo__edit-and-post {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-photo__toggles-and-sliders-block {
  margin: 0;
  padding: 0;
}

.post-photo__toggle-and-slider {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
}

.post-photo__toggle {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  &:not(.post-photo__toggle--mobile) {
    display: none;
  }

  svg {
    fill: rgba($navy-color, 0.3);
  }

  &--contrast path {
    fill: rgba($navy-color, 0.3);
  }

  &:not(.post-photo__toggle--active):hover,
  &:not(.post-photo__toggle--active):focus {
    svg {
      fill: rgba($navy-color, 0.5);
    }
  }

  &--contrast:not(.post-photo__toggle--active):hover,
  &--contrast:not(.post-photo__toggle--active):focus {
    path {
      fill: rgba($navy-color, 0.5);
    }
  }

  &--active svg {
    fill: $pink-color;
  }

  &--contrast.post-photo__toggle--active path {
    fill: $pink-color;
  }
}

.post-photo__toggles-and-sliders-block--mobile {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-top: 40px;
  flex-basis: 100%;

  .post-photo__toggles-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100%;

    margin: 0;
    padding: 0;
  }

  .post-photo__toggle {
    flex-basis: 48px;
    margin-left: 34px;
  }
}

.post-photo__slider {
  margin: 0;
  padding: 34px 20px 34px 20px;

  &:not(.post-photo__slider--active) {
    display: none;
  }
}

.post-photo__buttons-block {
  margin: 0;
  padding: 0;

  width: 100%;
}

.post-photo__buttons-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;

  padding-top: 40px;
  box-sizing: border-box;
}

.post-photo__button:last-child {
  margin-top: 12px;
}

@media (min-width: $tablet-width) {
  .post-photo::after {
    display: none;
  }

  .post-photo__text {
    padding-top: 46px;
    padding-bottom: 69px;


    font-size: 18px;
  }

  .post-photo__editing-block-wrapper {
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .post-photo__photo-block {
    flex-basis: 300px;
    max-width: 300px;
  }

  .post-photo__full-photo-link {
    width: 300px;
    height: 400px;
  }

  .post-photo__edit-and-post {
    flex-basis: 300px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 25px;
    box-sizing: border-box;
  }

  .post-photo__toggles-and-sliders-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;

    &--mobile {
      display: none;
    }
  }

  .post-photo__toggle-and-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba($navy-color, 0.1);
  }

  .post-photo__toggle {
    margin-left: 3px;

    &:not(.post-photo__toggle--mobile) {
      display: block;
    }

    &--crop {
      margin-top: -10px;
    }

    &--fill {
      margin-top: 7px;
    }

    &--contrast {
      margin-left: 7px;
    }

    &--crop svg {
      width: 23px;
      height: 23px;
    }

    &--fill svg {
      width: 23px;
      height: 23px;
    }

    &--contrast svg {
      width: 16px;
      height: 16px;
    }
  }

  .post-photo__toggle svg {
    text-align: left;
  }

  .post-photo__slider {
    flex-basis: 220px;
    padding: 34px 18px 35px 0;
    box-sizing: border-box;

    &:not(.post-photo__slider--active) {
      display: block;
    }
  }

  .post-photo__toggle-and-slider:first-child .post-photo__slider {
    padding-top: 19px;
  }

  .post-photo__buttons-block {
    width: 100%;
    border-top: none;
  }

  .post-photo__buttons-wrapper {
    padding-top: 0;
    padding-right: 13px;
  }

  .post-photo__button:last-child {
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .post-photo {
    margin-bottom: 29px;
  }

  .post-photo__editing-block {
    background-color: $white-color;
  }

  .post-photo__text {
    padding-top: 5px;
    padding-bottom: 65px;

    font-size: 18px;
  }

  .post-photo__editing-block-wrapper {
    padding: 57px 60px 57px 80px;
    background-color: $gray-color;
  }

  .post-photo__photo-block {
    flex-basis: 390px;
    max-width: 390px;
  }

  .post-photo__full-photo-link {
    width: 300px;
    height: 400px;
  }

  .post-photo__edit-and-post {
    flex-basis: 410px;
    max-width: 410px;
    padding-left: 0;
  }

  .post-photo__toggle {
    flex-basis: 50px;

    margin-left: -2px;

    &--contrast {
      margin-left: 5px;
    }

    &--crop svg {
      width: 48px;
      height: 48px;
    }

    &--fill svg {
      width: 48px;
      height: 48px;
    }

    &--contrast svg {
      width: 32px;
      height: 48px;
    }
  }

  .post-photo__slider {
    flex-basis: 318px;
    padding-top: 34px;
    padding-bottom: 35px;
    padding-right: 30px;

    box-sizing: border-box;
  }

  .post-photo__buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0;
  }

  .post-photo__button {
    padding-bottom: 14px;

    width: 183px;
    font-size: 18px;

    &:last-child {
      margin-top: 0;
    }
  }
}
