.tariffs-info {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  overflow: hidden;

  background: $gray-color url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% auto;
}

.tariffs-info__toggles {
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.tariffs-info__toggle:not(:last-child) {
  margin-right: 19px;
}

@media (min-width: $tablet-width) {
  .tariffs-info {
    padding-bottom: 68px;
  }

  .tariffs-info__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs-info {
    padding-top: 155px;
    padding-bottom: 95px;
  }
}
