.tariff-table {
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;

  overflow: hidden;
  transform: translateX(-50%);
  margin-left: 50%;
}

.tariff-table__head {
  background-color: $navy-color;
}

.tariff-table__body {
  background-color: $white-color;
}

.tariff-table__cell {
  position: relative;
  min-width: 280px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 17px;
  padding-bottom: 13px;
  padding-left: 23px;
  border: 2px solid #e5e5e5;

  &--head {
    border: none;
    border-left: 2px solid #e5e5e5;

    padding-top: 17px;
    padding-bottom: 19px;
    padding-right: 22px;
  }

  &--head:nth-child(2) {
    border-left-color: $navy-color;
  }
}

.tariff-table__row:first-child .tariff-table__cell {
  border-top-color: $navy-color;
}

.tariff-table__cell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff-table__tariff-name {
  color: $white-color;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.tariff-table__tariff-price {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  color: $white-color;

  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.tariff-table__options {
  margin: 0;
  padding: 0;
  color: $navy-color;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariff-table__icon-yes {
  fill: #3dc644;
}

.tariff-table__icon-no {
  fill: #f25b26;
}

.tariff-table__hit {
  position: absolute;
  left: 8px;
  top: 0;
  color: $white-color;

  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  transform: rotate(-45deg);
  z-index: 10;
}

.tariff-table__hit-ribbon {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}

@media (max-width: $tablet-width - 1) {
  .tariff-table__cell:first-child {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .tariff-table__cell {
    min-width: 155px;
    padding-top: 8px;
    padding-right: 23px;
    padding-bottom: 7px;

    &--head {

      padding-top: 12px;
      padding-bottom: 5px;
    }

    &--empty {
      background-color: #f2f2f2;
      border: none;
    }

    &:first-child {
      padding-left: 15px;
    }
  }

  .tariff-table__row:first-child .tariff-table__cell:first-child {
    border-top-color: #e5e5e5;
  }

  .tariff-table__cell-container {
    justify-content: center;
  }

  .tariff-table__tariff-name {
    font-size: 16px;
  }

  .tariff-table__tariff-price {
    padding-top: 0;
    font-size: 18px;
  }

  .tariff-table__options {
    &:not(.tariff-table__options--first-column) {
      display: none;
    }

    &--first-column {

      color: $navy-color;

      font-size: 14px;
      font-weight: normal;
      line-height: 30px;
      text-transform: none;
    }
  }

  .tariff-table__hit {
    left: 5px;
    top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .tariff-table__cell {
    min-width: 235px;
    padding-top: 15px;
    padding-bottom: 15px;

    &--head {
      padding-top: 16px;
      padding-bottom: 18px;
    }

    &:first-child {
      padding-left: 21px;
    }
  }

  .tariff-table__tariff-name {
    font-size: 18px;
  }

  .tariff-table__tariff-price {
    padding: 0;
    font-size: 24px;
  }

  .tariff-table__options {
    &:not(.tariff-table__options--first-column) {
      display: none;
    }

    &--first-column {
      font-size: 18px;
    }
  }

  .tariff-table__hit {
    left: 10px;
    top: -2px;
  }

  .tariff-table__icon-yes {
    margin-top: 7px;
  }
}
