.timer {
  position: relative;

  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .timer {
    width: 240px;
    height: 275px;

    background: url("../img/icon-timer.svg") no-repeat center;
    background-size: 240px auto;

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: 18px;
      top: 55px;

      content: "24";
      width: 202px;
      height: 202px;
      box-sizing: border-box;

      border: 14px solid $pink-color;
      border-radius: 50%;
      color: $pink-color;
      font-size: 96px;
      font-weight: bold;
    }
  }
}

@media (min-width: $desktop-width) {
  .timer {
    width: 300px;
    height: 345px;

    background-size: 300px auto;

    &::before {
      left: 23px;
      top: 70px;

      content: "24";
      width: 253px;
      height: 253px;

      border: 17px solid $pink-color;
    }
  }
}
