$white-color: #ffffff; /* rgb(255, 255, 255) */
$navy-color: #283645; /* rgb(40, 54, 69) */
$dark-navy-color: #1d2631; /* rgb(29, 38, 49) */
$pink-color: #d22856; /* rgb(210, 40, 86) */
$gray-color: #f2f2f2; /* rgb(242, 242, 242) */

$tablet-width: 660px;
$desktop-width: 960px;

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;
